<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

  <f:flashMessages />

  <f:render partial="FormErrors" />

  <f:form method="post" action="update" enctype="multipart/form-data" name="template" object="{template}" >
    <f:render partial="Template/FormFields" arguments="{ template: template, availableLayouts: availableLayouts }" />

    <ul class="action-bar">
      <li><f:form.submit value="Save" /></li>
    </ul>
  </f:form>
</f:section>