<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
  <h1>Listing for Template</h1>

  <f:flashMessages />

  <table  class="tx_giftcertificates typo3-dblist">
    <colgroup>
      <col width="10%" />
      <col width="30%" />
      <col width="30%" />
      <col width="10%" />
      <col width="10%" />
      <col width="5%" />
      <col width="5%" />
    </colgroup>
    <tr class="c-headLine">
      <th class="col-title"><f:translate key="tx_giftcertificates_domain_model_template.type" /></th>
      <th class="col-title"><f:translate key="tx_giftcertificates_domain_model_template.title" /></th>
      <th class="col-title"><f:translate key="tx_giftcertificates_domain_model_template.display_title" /></th>
      <th class="col-title"><f:translate key="tx_giftcertificates_domain_model_template.minimum_value" /></th>
      <th class="col-title"><f:translate key="tx_giftcertificates_domain_model_template.maximum_value" /></th>
      <th class="col-title"> </th>
      <th class="col-title"> </th>
    </tr>

    <f:for each="{templates}" as="template" iteration="certificateIterator">
      <tr class="db_list_{f:if(condition: certificateIterator.isEven, then: 'alt' else: 'normal')}">
        <td><f:if condition="{ŧemplate.isPropertyCoupon}"><f:then>Sachgutschein</f:then><f:else>Wertgutschein</f:else></f:if></td>
        <td>{template.title}</td>
        <td>{template.displayTitle}</td>
        <td>{template.minimumValue}</td>
        <td>{template.maximumValue}</td>
        <td><f:be.buttons.icon uri="{f:uri.action(action: 'edit', arguments: { template: template })}" icon="edit2" title="Edit" /></td>
        <td><f:be.buttons.icon uri="{f:uri.action(action: 'delete', arguments: { template: template })}" icon="deletedok" title="Delete" /></td>
      </tr>
    </f:for>
  </table>

  <f:link.action action="new">New Template</f:link.action>
</f:section>