{namespace gc = Tx_Giftcertificates_ViewHelpers}
<div class="wf-row wf-row1">
	<h2 class="has-subheader csc-firstHeader">Rechnungsadresse</h2>
	<p class="bodytext sub-header">* Pflichtfelder</p>

	<ol>
		<li>
			<label for="billing_address_salutation"><f:translate key="tx_giftcertificates_domain_model_billingaddress.salutation" /> <span class="required">*</span></label>
			<gc:form.select id="billing_address_salutation" property="billingAddress.salutation" options="{ mrs: 'tx_giftcertificates_domain_model_billingaddress.salutation.0', mr: 'tx_giftcertificates_domain_model_billingaddress.salutation.1', fam: 'tx_giftcertificates_domain_model_billingaddress.salutation.2' }" l10nFile="EXT:giftcertificates/Resources/Private/Language/locallang.xml" />
		</li>
		<li class="field-pair">
			<span class="label-container">
				<label for="billing_address_firstname"><f:translate key="tx_giftcertificates_domain_model_billingaddress.firstname" /> <span class="required">*</span> /</label>
				<label for="billing_address_lastname"><f:translate key="tx_giftcertificates_domain_model_billingaddress.lastname" /> <span class="required">*</span></label>
			</span>
			<f:form.textfield id="billing_address_firstname" property="billingAddress.firstname" />
			<f:form.textfield id="billing_address_lastname" property="billingAddress.lastname" />
		</li>
		<li>
			<label for="billing_address_address"><f:translate key="tx_giftcertificates_domain_model_billingaddress.address" /> <span class="required">*</span></label>
			<f:form.textfield id="billing_address_address" property="billingAddress.address" />
		</li>
		<li class="field-pair">
			<span class="label-container">
				<label for="billing_address_zip"><f:translate key="tx_giftcertificates_domain_model_billingaddress.zip" /> <span class="required">*</span>/</label>
				<label for="billing_address_city"><f:translate key="tx_giftcertificates_domain_model_billingaddress.city" /> <span class="required">*</span></label>
			</span>
			<f:form.textfield id="billing_address_zip" property="billingAddress.zip" />
			<f:form.textfield id="billing_address_city" property="billingAddress.city" />
		</li>
		<li>
			<label for="billing_address_country"><f:translate key="tx_giftcertificates_domain_model_billingaddress.country" /> <span class="required">*</span></label>
			<gc:staticInfoTables.selectCountries property="billingAddress.country" id="billing_address_country" apiAddWhere="cn_eu_member=1" />
		</li>
		<li>
			<label for="billing_address_phone"><f:translate key="tx_giftcertificates_domain_model_billingaddress.phone" /> <span class="required">*</span></label>
			<f:form.textfield id="billing_address_phone" property="billingAddress.phone" />
		</li>
		<li>
			<label for="billing_address_email"><f:translate key="tx_giftcertificates_domain_model_billingaddress.email" /> <span class="required">*</span></label>
			<f:form.textfield id="billing_address_email" property="billingAddress.email" />
		</li>
		<li>
			<label for="billing_address_note"><f:translate key="tx_giftcertificates_domain_model_billingaddress.note" /> <span class="required">*</span></label>
			<f:form.textarea id="billing_address_note" property="billingAddress.note" cols="30" rows="5" />
		</li>
	</ol>
	<ol>
		<li>
			<label for="payment_type"><f:translate key="tx_giftcertificates_domain_model_payment.type" /> <span class="required">*</span></label>
			<gc:form.select id="payment_type" property="payment.type" options="{ credit_card: 'tx_giftcertificates_domain_model_payment.type.credit_card', pay_pal: 'tx_giftcertificates_domain_model_payment.type.pay_pal', bank_account: 'tx_giftcertificates_doamin_model_payment.type.bank_account' }" l10nFile="EXT:giftcertificates/Resources/Private/Language/locallang.xml" />
		</li>
		<!-- @todo: insert payment type specific forms... -->
	</ol>
	<ol>
		<li>
			<label for="shipping_type"><f:translate key="tx_giftcertificates_domain_model_ordering.shipping_type" /> <span class="required">*</span></label>
			<gc:form.select id="shipping_type" property="shippingType" options="{ billing_email: 'tx_giftcertificates_domain_model_ordering.shipping_type.billing_email', billing_address: 'tx_giftcertificates_domain_model_ordering.shipping_type.billing_address', donee_email: 'tx_giftcertificates_domain_model_ordering.shipping_type.donee_email', donee_address: 'tx_giftcertificates_domain_model_ordering.shipping_type.donee_address', other_email: 'tx_giftcertificates_domain_model_ordering.shipping_type.other_email', other_address: 'tx_giftcertificates_domain_model_ordering.shipping_type.other_address' }" l10nFile="EXT:giftcertificates/Resources/Private/Language/locallang.xml" />
		</li>
	</ol>

	<!-- donee_email -->
	<fieldset id="shipping_type_donee_email" class="shipping-type">
		<f:if condition="{cart.numberOfCertificates} > 1">
			<f:then>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_email.plural.line1" /></f:format.html>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_email.plural.line2" /></f:format.html>
			</f:then>
			<f:else>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_email.singular.line1" /></f:format.html>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_email.singular.line2" /></f:format.html>
			</f:else>
		</f:if>
		<ol>
		<f:for each="{cart.certificate}" as="certificate">
			<f:render partial="Ordering/ShippingTypeDoneeEmailFormFields" arguments="{ certificate: certificate }" />
		</f:for>
		</ol>
	</fieldset>

	<!-- donee_address -->
	<fieldset id="shipping_type_donee_address" class="shipping-type">
		<f:if condition="{cart.numberOfCertificates} > 1">
			<f:then>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_address.plural.line1" /></f:format.html>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_address.plural.line2" /></f:format.html>
			</f:then>
			<f:else>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_address.singular.line1" /></f:format.html>
		<f:format.html><f:translate key="ordering.hint.shipping_type.donee_address.singular.line2" /></f:format.html>
			</f:else>
		</f:if>
		<ol>
		<f:for each="{cart.certificate}" as="certificate">
			<f:render partial="Ordering/ShippingTypeDoneeAddressFormFields" arguments="{ certificate: certificate }" />
		</f:for>
		</ol>
	</fieldset>

	<!-- other_email -->
	<fieldset id="shipping_type_other_email" class="shipping-type">
		<f:format.html><f:translate key="ordering.hint.shipping_type.other_email.line1" /></f:format.html>
		<f:format.html><f:translate key="ordering.hint.shipping_type.other_email.line2" /></f:format.html>
		<ol>
			<f:render partial="Ordering/ShippingTypeOtherEmailFormFields" arguments="{ ordering: ordering }" />
		</ol>
	</fieldset>

	<!-- other_address -->
	<fieldset id="shipping_type_other_address" class="shipping-type">
		<f:format.html><f:translate key="ordering.hint.shipping_type.other_address.line1" /></f:format.html>
		<f:format.html><f:translate key="ordering.hint.shipping_type.other_address.line2" /></f:format.html>
		<ol>
			<f:render partial="Ordering/ShippingTypeOtherAddressFormFields" />
		</ol>
	</fieldset>

	<f:if condition="{privacyRenderType}">
		<f:then>
	<f:render partial="Ordering/Privacy{privacyRenderType}" /> 
		</f:then>
	</f:if>

	<f:if condition="{tacRenderType}">
		<f:then>
	<f:render partial="Ordering/Tac{tacRenderType}" />
		</f:then>
	</f:if>
</div>