<label for="orderingNumber">
	<f:translate key="tx_giftcertificates_domain_model_ordering.ordering_number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderingNumber" /><br />
<label for="shippingType">
	<f:translate key="tx_giftcertificates_domain_model_ordering.shipping_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="shippingType" /><br />
<label for="paymentType">
	<f:translate key="tx_giftcertificates_domain_model_ordering.payment_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentType" /><br />
<label for="paymentStatus">
	<f:translate key="tx_giftcertificates_domain_model_ordering.payment_status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentStatus" /><br />
<label for="paymentTransactionId">
	<f:translate key="tx_giftcertificates_domain_model_ordering.payment_transaction_id" />
</label><br />
	<f:form.textfield property="paymentTransactionId" /><br />