{namespace gc=Tx_Giftcertificates_ViewHelpers}
<li>{certificate.donee.firstname} {certificate.donee.lastname} ({certificate.template.displayTitle}, <f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{certificate.value}</f:format.currency>)</li>
<li>
	<label for="cart_certificate_{certificateIndex}_donee_address">Straße, Nr:</label>
	<f:form.textfield id="cart_certificate_{certificateIndex}_donee_address" property="cart.certificate.{certificateIndex}.donee.address" />
</li>
<li class="field-pair">
	<span class="label-container">
		<label for="cart_certificate_{certificateIndex}_donee_zip">PLZ:/</label>
		<label for="cart_certificate_{certificateIndex}_donee_city">Ort:</label>
	</span>
	<f:form.textfield id="cart_certificate_{certificateIndex}_donee_zip" property="cart.certificate.{certificateIndex}.donee.zip" />
	<f:form.textfield id="cart_certificate_{certificateIndex}_donee_city" property="cart.certificate.{certificateIndex}.donee.city" />
</li>
<li>
	<label for="cart_certificate_{certificateIndex}_donee_country">Land:</label>
	<gc:staticInfoTables.selectCountries id="cart_certificate_{certificateIndex}_donee_country" property="cart.certificate.{certificateIndex}.donee.country" apiAddWhere="cn_eu_member=1" />
</li>