<label for="salutation">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.salutation" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="firstname">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.firstname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.lastname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="street">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="zip">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="country">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="email">
	<f:translate key="tx_giftcertificates_domain_model_doneeaddress.email" />
</label><br />
	<f:form.textfield property="email" /><br />