<label for="identification">
	<f:translate key="tx_giftcertificates_domain_model_certificate.identification" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="identification" /><br />
<label for="personalizationImage">
	<f:translate key="tx_giftcertificates_domain_model_certificate.personalization_image" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="personalizationImage" /><br />
<label for="isRedeemed">
	<f:translate key="tx_giftcertificates_domain_model_certificate.is_redeemed" /> <span class="required">(required)</span>
</label><br />
	<f:form.checkbox property="isRedeemed" value="1" /><br />