<label for="title">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="layout">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.layout" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="layout" cols="40" rows="15" /><br />
<label for="previewImage">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.preview_image" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="previewImage" /><br />
<label for="personalizationImage">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.personalization_image" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="personalizationImage" /><br />
<label for="minimumValue">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.minimum_value" />
</label><br />
	<f:form.textfield property="minimumValue" /><br />
<label for="maximumValue">
	<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.maximum_value" />
</label><br />
	<f:form.textfield property="maximumValue" /><br />