<table class="tx-giftcertificates" >
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.title" />
		</td>
		<td>
			{certificateTemplate.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.description" />
		</td>
		<td>
			{certificateTemplate.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.layout" />
		</td>
		<td>
			{certificateTemplate.layout}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.preview_image" />
		</td>
		<td>
			{certificateTemplate.previewImage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.personalization_image" />
		</td>
		<td>
			{certificateTemplate.personalizationImage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.minimum_value" />
		</td>
		<td>
			{certificateTemplate.minimumValue}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificatetemplate.maximum_value" />
		</td>
		<td>
			{certificateTemplate.maximumValue}
		</td>
	</tr>
</table>