<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <h1>Listing for Template</h1>

  <f:flashMessages />

  <table  class="tx_giftcertificates" >
    <tr>
      <th><f:translate key="tx_giftcertificates_domain_model_template.title" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.display_title" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.description" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.layout" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.preview_image" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.personalization_image" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.minimum_value" /></th>
      <th><f:translate key="tx_giftcertificates_domain_model_template.maximum_value" /></th>
      <th> </th>
      <th> </th>
    </tr>

    <f:for each="{templates}" as="template">
      <tr>
        <td><f:link.action action="show" arguments="{template : template}"> {template.title}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.displayTitle}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.description}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.layout}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.previewImage}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.personalizationImage}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.minimumValue}</f:link.action></td>
        <td><f:link.action action="show" arguments="{template : template}"> {template.maximumValue}</f:link.action></td>
        <td><f:link.action action="edit" arguments="{template : template}">Edit</f:link.action></td>
        <td><f:link.action action="delete" arguments="{template : template}">Delete</f:link.action></td>
      </tr>
    </f:for>
  </table>

  <f:link.action action="new">New Template</f:link.action>
</f:section>