<label for="title">
	<f:translate key="tx_giftcertificates_domain_model_article.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_giftcertificates_domain_model_article.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_giftcertificates_domain_model_article.image" />
</label><br />
	<f:form.upload property="image" /><br />
<label for="value">
	<f:translate key="tx_giftcertificates_domain_model_article.value" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="value" /><br />