<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h1>Warenkorb Kontrolle</h1>

	<f:flashMessages />

	<f:render partial="FormErrors" />

	<f:form method="post" action="create" enctype="multipart/form-data" name="newCart" object="{newCart}">

		<f:render partial="Cart/CertificateList" arguments="{ cart: cart, certificates: cart.certificate }" />

		<ul class="action-bar">
			<li><f:link.action action="list" controller="Template">« mehr Gutscheine bestellen</f:link.action></li>
			<li><f:link.action action="new" controller="Ordering" arguments="{ cart: cart }">» zum Bestellvorgang</f:link.action></li>
		</ul>
	</f:form>
</f:section>