<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1>Listing for Certificate</h1>

	<f:flashMessages />

	<table  class="tx_giftcertificates typo3-dblist">
		<colgroup>
			<col width="15%" />
			<col width="30%" />
			<col width="45%" />
			<col width="5%" />
			<col width="5%" />
		</colgroup>
		<tr class="c-headLine">
			<td class="col-title"><strong><f:translate key="tx_giftcertificates_domain_model_certificate.type" /></strong></td>
			<td class="col-title"><strong><f:translate key="tx_giftcertificates_domain_model_certificate.title" /></strong></td>
			<td class="col-title"><strong><f:translate key="tx_giftcertificates_domain_model_certificate.description" /></strong></td>
			<td> </td>
			<td> </td>
		</tr>

	<f:for each="{certificates}" as="certificate" iteration="certificateIterator">
		<tr class="db_list_{f:if(condition: certificateIterator.isEven, then: 'alt' else: 'normal')}">
			<td><f:link.action action="show" arguments="{certificate : certificate}"><f:translate key="tx_giftcertificates_domain_model_certificate.type.{certificate.type}" /></f:link.action></td>
			<td><f:link.action action="show" arguments="{certificate : certificate}"> {certificate.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{certificate : certificate}"> {certificate.description}</f:link.action></td>
			<td><f:be.buttons.icon uri="{f:uri.action(action: 'edit', arguments: { certificate: certificate })}" icon="edit2" title="Edit" /></td>
			<td><f:be.buttons.icon uri="{f:uri.action(action: 'delete', arguments: { certificate: certificate })}" icon="deletedok" title="Delete" /></td>
		</tr>
	</f:for>
	</table>

	<f:link.action action="new">New Certificate</f:link.action>
</f:section>