<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Certificate</h1>

<f:flashMessages />

<table  class="tx_giftcertificates" >
	<tr>
		<th><f:translate key="tx_giftcertificates_domain_model_certificate.type" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_certificate.title" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_certificate.description" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_certificate.layout" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{certificates}" as="certificate">
		<tr>
			<td><f:link.action action="show" arguments="{certificate : certificate}"> {certificate.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{certificate : certificate}"> {certificate.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{certificate : certificate}"> {certificate.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{certificate : certificate}"> {certificate.layout}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{certificate : certificate}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{certificate : certificate}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Certificate</f:link.action>
</f:section>