<label for="identification">
	<f:translate key="tx_giftcertificates_domain_model_certificate.identification" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="identification" /><br />
<label for="personalizationImage">
	<f:translate key="tx_giftcertificates_domain_model_certificate.personalization_image" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="personalizationImage" /><br />
<label for="value">
	<f:translate key="tx_giftcertificates_domain_model_certificate.value" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="value" /><br />
<label for="personalMessage">
	<f:translate key="tx_giftcertificates_domain_model_certificate.personal_message" />
</label><br />
	<f:form.textarea property="personalMessage" cols="40" rows="15" /><br />
<label for="isRedeemed">
	<f:translate key="tx_giftcertificates_domain_model_certificate.is_redeemed" /> <span class="required">(required)</span>
</label><br />
	<f:form.checkbox property="isRedeemed" value="1" /><br />