<table class="tx-giftcertificates" >
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificate.identification" />
		</td>
		<td>
			{certificate.identification}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificate.personalization_image" />
		</td>
		<td>
			{certificate.personalizationImage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificate.value" />
		</td>
		<td>
			{certificate.value}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificate.personal_message" />
		</td>
		<td>
			{certificate.personalMessage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_certificate.is_redeemed" />
		</td>
		<td>
			{certificate.isRedeemed}
		</td>
	</tr>
</table>