<label for="title"><f:translate key="tx_giftcertificates_domain_model_template.title" /> <span class="required">(required)</span></label>
<br />
<f:form.textfield property="title" />
<br />

<label for="displayTitle"><f:translate key="tx_giftcertificates_domain_model_template.display_title" /> <span class="required">(required)</span></label>
<br />
<f:form.textfield property="displayTitle" />
<br />

<label for="description"><f:translate key="tx_giftcertificates_domain_model_template.description" /></label>
<br />
<f:form.textarea property="description" cols="40" rows="15" />
<br />

<label for="layout"><f:translate key="tx_giftcertificates_domain_model_template.layout" /> <span class="required">(required)</span></label>
<br />
<f:form.textfield property="layout" />
<br />

<label for="previewImage"><f:translate key="tx_giftcertificates_domain_model_template.preview_image" /> <span class="required">(required)</span></label>
<br />
<f:form.upload property="previewImage" />
<br />
<f:if condition="{certificate.previewImage}">
  <f:then>
<f:image src="uploads/tx_giftcertificates/{template.previewImage}" alt="{template.title}" maxWidth="120" />
<br />
  </f:then>
</f:if>

<label for="personalizationImage"><f:translate key="tx_giftcertificates_domain_model_template.personalization_image" /> <span class="required">(required)</span></label>
<br />
<f:form.upload property="personalizationImage" />
<br />
<f:if condition="{template.personalizationImage.0}">
  <f:then>
    <f:for each="{template.personalizationImage}" as="personalizationImage">
<f:image src="uploads/tx_giftcertificates/{personalizationImage}" alt="{template.title}" maxWidth="120" />
<f:form.checkbox name="personalizationImage[delete][]" value="{personalizationImage}" checked="0" title="{f:translate(key: 'tx_giftcertificates_domain_model_template.personalization_image.delete', default: 'delete')}" />
    </f:for>
<br />
  </f:then>
</f:if>

<label for="minimumValue"><f:translate key="tx_giftcertificates_domain_model_template.minimum_value" /></label>
<br />
<f:form.textfield property="minimumValue" />
<br />

<label for="maximumValue"><f:translate key="tx_giftcertificates_domain_model_template.maximum_value" /></label>
<br />
<f:form.textfield property="maximumValue" />
<br />