<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h1>Listing for CertificateTemplate</h1>

	<f:flashMessages />

	<table  class="tx_giftcertificates" >
		<tr>
			<th> </th>
			<th><f:translate key="tx_giftcertificates_domain_model_certificatetemplate.title" /></th>
			<th><f:translate key="tx_giftcertificates_domain_model_certificatetemplate.description" /></th>
			<th> </th>
		</tr>
	
		<f:for each="{certificateTemplates}" as="certificateTemplate">
			<tr>
				<td>
				<f:if condition="{certificateTemplate.previewImage}">
					<f:then>
					<f:image src="uploads/tx_giftcertificates/{certificateTemplate.previewImage}" alt="{certificateTemplate.title}" maxWidth="120" />
					</f:then>
				</f:if>
				</td>
				<td>{certificateTemplate.title}</td>
				<td>{certificateTemplate.description}</td>
				<td><f:link.action action="new" controller="Certificate" arguments="{ certificateTemplate: certificateTemplate }"><f:translate key="tx_giftcertificates_actions.order_now" default="order now" /></f:link.action></td>
			</tr>
		</f:for>
	</table>
</f:section>