.tx-giftcertificates {
}

	.action-bar {
		list-style: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}

		.action-bar li {
			display: inline;
		}

	.tx-giftcertificates .template-item {
		border-bottom: 1px solid #000000;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
		.tx-giftcertificates .template-item-details {
			float: left;
			width: 100%;
		}
			.tx-giftcertificates .template-item-image {
				float: left;
				padding-right: 20px;
				width: 200px;
			}
			.tx-giftcertificates .template-item-description {
				margin-left: 220px;
			}
		.tx-giftcertificates .template-item .action-bar {
			clear: both;
			padding: 20px 0;
		}

	.tx-giftcertificates .wf-row {
		border: 1px solid #cecece;
		margin: 20px 0;
		overflow: hidden;
		padding: 10px;
	}

		.tx-giftcertificates .personalization-image-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.tx-giftcertificates .personalization-image-list li {
				float: left;
				padding: 0 10px 0 0;
				width: 200px;
			}
				.tx-giftcertificates .personalization-image-list input {
					float: left;
					height: 14px;
					width: 14px;
				}
				.tx-giftcertificates .personalization-image-list img {
					clear: both;
					margin: 10px 0 0 0;
				}

	.tx-giftcertificates .action-trigger {
		vertical-align: text-bottom;
	}

	.tx-giftcertificates .currency-value {
		text-align: right;
	}
	.tx-giftcertificates .total-value td {
		border-top: 1px solid #d6d6d6;
	}

	/* form styles */
	.tx-giftcertificates form ol {
		border-bottom: 1px solid #cecece;
		list-style: none !important;
		margin: 0 0 10px 0 !important;
		padding: 0 0 10px 0 !important;
	}
	.tx-giftcertificates form ol.no-border {
		border: none;
		margin: 0 !important;
		padding: 0 !important;
	}
		.tx-giftcertificates form ol li {
			clear: both;
			padding: 2px 0;
		}
			.tx-giftcertificates form li label,
			.tx-giftcertificates form .field-pair .label-container {
				float: left;
				/* check and re-adjust for windows and/or other browsers */
				line-height: 22px;
				width: 200px;
			}
			.tx-giftcertificates form .label-after-field label,
			.tx-giftcertificates form .field-pair label {
				float: none;
				width: auto;
			}
			.tx-giftcertificates form .field-pair .label-container {
				display: block;
			}
			.tx-giftcertificates form .label-after-field input {
				float: left;
				height: 17px;
				margin-left: 0;
				margin-right: 10px;
				width: 14px;
			}

	fieldset.shipping-type {
		display: none;
	}