<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />

	<table  class="tx_giftcertificates" >
		<tr>
			<th><f:translate key="tx_giftcertificates_domain_model_certificate.title" /></th>
			<th><f:translate key="tx_giftcertificates_domain_model_certificate.description" /></th>
			<th> </th>
		</tr>

	<f:for each="{certificates}" as="certificate">
		<tr>
			<td>{certificate.title}</td>
			<td>{certificate.description}</td>
			<td><f:link.action action="show" arguments="{ certificate: certificate }"><f:translate key="tx_giftcertificates_workflow.order_details" default="order details" /></f:link.action></td>
		</tr>
	</f:for>
	</table>
</f:section>