<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h2><f:if condition="{certificate.template.displayTitle}"><f:then>{certificate.template.displayTitle}</f:then><f:else>{certificate.template.title}</f:else></f:if></h2>
	<f:format.html>{certificate.template.description}</f:format.html>

	<f:format.raw>{certificateImage}</f:format.raw>

	<!-- @note: this actions are not visible if preview is shown in lightbox -->
	<ul class="action-bar">
		<li><f:link.action action="edit" controller="Certificate" arguments="{ certificate: certificate }">» ändern</f:link.action></li>
		<f:if condition="{cart}">
			<f:then>
		<li><f:link.action action="show" controller="Cart" arguments="{ cart: cart }">» zum Warenkorb</f:link.action></li>
			</f:then>
			<f:else>
		<li><f:link.action action="create" controller="Certificate" arguments="{ newCertificate: certificate }">» in den Warenkorb legen</f:link.action></li>
			</f:else>
		</f:if>
	</ul>
</f:section>