{namespace gc = Tx_Giftcertificates_ViewHelpers}
<gc:include.javascript file="EXT:giftcertificates/Resources/Public/Javascript/jquery1.6.4.min.js" />
<gc:include.javascript file="EXT:giftcertificates/Resources/Public/Javascript/jquery-ui1.8.16.min.js" />
<gc:include.css file="EXT:giftcertificates/Resources/Public/Css/jquery-ui1.8.16.css" />
<gc:include.css file="EXT:giftcertificates/Resources/Public/Css/Backend.css" />
<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">

				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
						<f:be.menus.actionMenuItem label="Create new Template" action="new" controller="Template" />
            <f:be.menus.actionMenuItem label="Create new Category" action="new" controller="Category" />
            <f:be.menus.actionMenuItem label="Create new Article" action="new" controller="Article" />
            <f:be.menus.actionMenuItem label="List and edit Orders" action="list" controller="Ordering" />
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>