<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Ordering</h1>

<f:flashMessages />

<table  class="tx_giftcertificates" >
	<tr>
		<th><f:translate key="tx_giftcertificates_domain_model_ordering.ordering_number" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_ordering.shipping_type" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_ordering.payment_type" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_ordering.payment_status" /></th>
		<th><f:translate key="tx_giftcertificates_domain_model_ordering.payment_transaction_id" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{orderings}" as="ordering">
		<tr>
			<td><f:link.action action="show" arguments="{ordering : ordering}"> {ordering.orderingNumber}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ordering : ordering}"> {ordering.shippingType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ordering : ordering}"> {ordering.paymentType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ordering : ordering}"> {ordering.paymentStatus}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ordering : ordering}"> {ordering.paymentTransactionId}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{ordering : ordering}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{ordering : ordering}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Ordering</f:link.action>
</f:section>