<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h1>Gutscheinbestellung</h1>
	
	<f:flashMessages />
	
	<f:render partial="FormErrors" />
	
	<f:form method="post" action="create" enctype="multipart/form-data" name="newOrdering" object="{newOrdering}">
		<f:render partial="Ordering/FormFields" />

		<ul class="action-bar">
			<li><f:link.action action="show" controller="Cart" arguments="{ cart: cart }">« zurück</f:link.action>
			<li><f:form.submit value="» Bestellung abschicken" /></li>
		</ul>
	</f:form>
</f:section>