<label for="orderNumber">
	<f:translate key="tx_giftcertificates_domain_model_order.order_number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderNumber" /><br />
<label for="shippingType">
	<f:translate key="tx_giftcertificates_domain_model_order.shipping_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="shippingType" /><br />
<label for="paymentType">
	<f:translate key="tx_giftcertificates_domain_model_order.payment_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentType" /><br />
<label for="paymentStatus">
	<f:translate key="tx_giftcertificates_domain_model_order.payment_status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentStatus" /><br />
<label for="paymentTransactionId">
	<f:translate key="tx_giftcertificates_domain_model_order.payment_transaction_id" />
</label><br />
	<f:form.textfield property="paymentTransactionId" /><br />