<table class="tx-giftcertificates" >
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_order.order_number" />
		</td>
		<td>
			{order.orderNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_order.shipping_type" />
		</td>
		<td>
			{order.shippingType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_order.payment_type" />
		</td>
		<td>
			{order.paymentType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_order.payment_status" />
		</td>
		<td>
			{order.paymentStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_giftcertificates_domain_model_order.payment_transaction_id" />
		</td>
		<td>
			{order.paymentTransactionId}
		</td>
	</tr>
</table>